/* Main Page below */
*{
    margin: 0px;
        padding: 0px;
        border: 10px;
}

#body_index{
    min-height: 100vh;
        background-position: center;
        background-size: cover;
        background-color: rgba(201, 200, 220, 0.982);
    z-index: 1;
    height: 100%;
    width: 100%;
}
header h1 {
    z-index: 2;
    color: rgb(255, 239, 239);
    border: 1px solid rgb(108, 57, 57);
    padding: 6px 12px;
    display: inline-block;
}

#lifesource {
    background-color: pink;
    z-index: 3;
    display: inline-block;
    width: fit-content;
        height: fit-content;
    padding: 1em;
    position: absolute;
    top: 150px;
    left: -20px;
    font-size: 5vw;
    font-family: 'Times New Roman';
    font-style: italic;
    color: rgb(171, 150, 182);
    max-height: 1%;
}
#bdms {
    background-color: red;
    z-index: 3;
    display:inline-block;
    width: fit-content;
        height: fit-content;
    padding: 1em;
    position: absolute;
    top: 280px;
    left: 20px;
    font-size:2vw;
    font-family: 'Times New Roman';
    font-style: italic;
    color: rgb(146, 59, 73);
}

.background_1{
    --img_height: 20px;
    position: relative;
    display:flex;
    z-index: 2;
    width: 100%;
    height: 80%;

    border: 0px solid #382732;
    padding: 0em;
    object-fit:contain;
    background-color: rgb(0, 0, 0);
    
}

.back1{
    position: relative;
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    position:contents;
    display: inline-block;
    z-index: 2;
    width: 100%;
    height: 15%;
    left: 0%;
    right: 0px;
    top: 0px;
    
}
/* this is for nav bar */
.menu {
    width: 100%;
    height: 20%;
    z-index: 100;
    position: absolute;
    background-color: #ffffff;
}
#nav_signup{
    height: 50px;
    width: 80px;
    background-color: red;
    position: absolute;
    font-size: 22px;
}

#donate {
    z-index: 3;
    display: contents;
    width: 1500px;
    height: 150px;
    padding: 1em;
    position: relative;
    top: -400px;
    left: 800px;
    font-size: 130px;
    font-family: 'Times New Roman';
    text-decoration: underline;
    text-transform: capitalize;
    color: rgb(171, 150, 182);
}

/* Donate Blood Page Below */

#body_donatenow{
    background-color:#b5afc2;

}

.ONEbackground{
    background-color:#382732;
    opacity: .5;
    z-index: 1;
}
