*{
    z-index: 0;
    margin: 0;
    padding: 0;
    box-sizing: content-box;

    
}
body{
    background-color: white;
}
/* this is for the background */
.background{
    width: 100vh;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}
/* this is for the navbar */
nav {
    z-index: 5;
    width: 100%;
    position: fixed;
    top: 0px;
    left: -10px;
    padding: 10px 3%;
    display: flex;
    align-items: center;
    justify-content: safe;
    box-shadow: 40px 0px 20px rgb(53, 53, 53);
}
/* this is for the navbar in a horizontal view */
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    margin-top: auto;

}
/* this is for navbar decoration */
nav ul li a{
    text-decoration: none;
    color: rgb(255, 250, 250);
    font-size: 17px;
    text-shadow: 3px 4px 7px rgb(0, 0, 0);
}

.LSF{
    text-align: center;
}
.LSF h1{
    position: relative;
    left: 100px;
    z-index: 2;
    font-size: 80px;
    color: rgb(217, 230, 252);
    top: -500px;
    height: 50px;
    width: 1000px;
    text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}

.backvid{
    z-index: -1;
    position: fixed;
    height: 100vh;
    width: 100%;
    right: 0;
    bottom: 0;


}
.floating{
    display:inline-block;
    position:absolute;
    margin: 0px;
    z-index: 0;
    left: 13px;
    width: 177.8vh;
    height: 200vh;
    top: 800px;
    padding: 0% 0%;
    background-color: rgba(218, 219, 248, 0.806);

    /* box-shadow: 0px 40px 10px 50px rgb(196, 196, 196); */
}

.wybt{
    z-index: 2;
    position: absolute;
    left: 400px;
    top: 60px;
    height: 20px;
    width: 100%;
    font-size: 20px;
    color: rgba(74, 2, 2, 0.701);
}

.Aplus{
    z-index: 5;
    position: relative;
    left: 10px;
    top: 100px;
}
.Aminus{
    z-index: 5;
    position: relative;
    left: 150px;
    top: -46px;
}
.Bplus{
    z-index: 5;
    position: relative;
    left: 300px;
    top: -190px;
}
.Bminus{
    z-index: 5;
    position: relative;
    left: 450px;
    top: -335px;
}
.ABplus{
    z-index: 5;
    position: relative;
    left: 600px;
    top: -480px;
}
.ABminus{
    z-index: 5;
    position: relative;
    left: 750px;
    top: -623px;
}
.Oplus{
    z-index: 5;
    position: relative;
    left: 900px;
    top: -766px;
}
.Ominus{
    z-index: 5;
    position: relative;
    left: 1060px;
    top: -910px;
}

.donate{
    text-align: center;
    position: relative;
    left: 100px;
    z-index: 2;
    font-size: 80px;
    color: rgb(217, 230, 252);
    top: -500px;
    height: 50px;
    width: 1000px;
    text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}
